.newsletter-section {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
}

.newsletter-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.newsletter-form button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #00332e;
}
